<!-- header -->
<div class="r-title-bar">
    <div class="row">
        <div class="r-logo-area col-sm-6">
            <img ng-src="{{iconFile}}" alt="" class="r-icon"/>

            <div class="r-title-area">
                <p class="r-logo-title">{{headerTitle}}</p>

                <p class="r-logo-subtitle">{{headerSubTitle}}</p>
            </div>
            <div ng-if="isMenuButtonVisible" class="r-collapsed-menu pull-right">
                <button class="btn r-nav-button" ng-click="menuButtonClicked()">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="r-right-side-controls col-sm-6">
            <div>
                <div style="display: inline-block;margin-top: 5px;margin-right: 10px;">Welcome <strong>{{username}}!</strong>
                </div>
                <button class="btn btn-sm btn-default btn-hover-border" ng-click="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </button>
            </div>
            <div class="pull-right">

            </div>
        </div>
    </div>
</div>

<!-- menu -->
<div ng-transclude></div>


<!-- viewport -->
<!-- Accepted attributes: title, sub-title, router, icon-file -->
<div ng-switch="routerName" class="rain-view" ng-class="{'rain-view-full-width':isFullWidth()}">

    <div ng-switch-when="NGNEWROUTER">
        <ng-viewport>{{routeString}}</ng-viewport>
    </div>
    <div ng-switch-when="UIROUTER">
        <div ui-view></div>
    </div>
    <div ng-switch-default>
        <div ng-view>{{routeString}}</div>
    </div>

</div>