<div class="col-md-11 col-lg-9" style="max-width: 760px;">
    <!--<div class="panel panel-primary">
        <div class="panel-heading" style="font-size:large">
            Admin
        </div>-->
    <div class="panel-body" style="height: 700px;">

        <div class="wizard">
            <a ui-sref="account.user" ui-sref-active="active">
                Users
            </a>
            <a ui-sref="account.permission" ui-sref-active="active">
                Permissions
            </a>
        </div>

        <div ui-view class="wizard-content"></div>

    </div>
    <!--</div>-->
</div>