<div style="text-align: center;max-width: 800px;" >

    <div style="display: inline-block;width:100%;">

        <div style="max-width: 750px;">

            <div class="panel-body" style="min-height: 700px;text-align: left;">

                <div class="wizard">
                    <a ui-sref="account.user" ui-sref-active="active">
                        Users
                    </a>
                    <a ui-sref="account.permission" ui-sref-active="active">
                        Permissions
                    </a>
                </div>

                <div ui-view class="wizard-content"></div>

            </div>

        </div>
    </div>
</div>