<div style="text-align: center" class="col-md-10 col-lg-8">

    <div style="display: inline-block;">

        <div style="min-width: 750px;max-width: 850px;">

            <div class="panel-body" style="min-height: 700px;text-align: left;">

                <div class="wizard">
                    <a ui-sref="account.user" ui-sref-active="active">
                        Users
                    </a>
                    <a ui-sref="account.permission" ui-sref-active="active">
                        Permissions
                    </a>
                </div>

                <div ui-view class="wizard-content"></div>

            </div>

        </div>
    </div>
</div>