<div style="overflow-y: auto;padding:0 10px;">
    <div ng-controller="permissionCtrl" class=" form-group-sm" style="margin-top: 10px;">
        <accordion>
            <accordion-group ng-repeat="permission in permissions" is-open="status.open">
                <accordion-heading>
                    <span style="-webkit-user-select: none;">{{permission.resource}}</span>
                    <i class="pull-right fa fa-angle-right"
                       ng-class="{'fa-rotate-90': status.open}">
                    </i>
                </accordion-heading>
                <div class="permission-content">
                    <!--<p>User access</p>-->
                    <permission-access permission='permission' roles='roles'></permission-access>
                </div>
            </accordion-group>
        </accordion>


    </div>
</div>