<div class="rain-grid-menu">
    <div class="btn-group" dropdown is-open="status.isOpen">
        <i class="fa fa-cog  dropdown-toggle" style="font-size: 23px;margin-left: 10px;"
           dropdown-toggle ng-disabled="disabled"></i>
        <ul class="dropdown-menu" role="menu" >
            <li>
                <a ng-click="doFilter()">
                    <i class="glyphicon glyphicon-filter menu-item-icon" style="margin-right: 5px;color: #337AB7;"></i>

                    <div style="display: inline-block;">Filter</div>
                </a>
            </li>
            <li ng-if="hasFiltered">
                <a href="#" ng-click="removeFilters()">
                    <i class="fa fa-times menu-item-icon" ></i>

                    <div style="display: inline-block;">Remove Filters</div>
                </a>
            </li>
            <li class="divider" style="border-width: 0;"></li>
            <li>
                <a>
                    <i class="fa fa-file-excel-o menu-item-icon" style="color: green;"></i>
                    <span>Export To Excel</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-file-pdf-o menu-item-icon" style="color: red;"></i>
                    <span>Export To PDF</span>
                </a>
            </li>
        </ul>
    </div>


</div>

