<li class="r-selectable-item r-no-select" ng-click="clicked()"
    ng-class="{'r-menu-item-horizontal':!isVertical(),'isActive':isOpen}">
    <div class="r-no-select group-title">
        <i class="fa {{icon}} r-menu-icon"></i>
        {{label}}
    </div>
    <i class="fa fa-angle-left  r-menu-group-indicator" ng-if="isVertical()"
       ng-class="{'fa-rotate-270':isOpen}"></i>

    <div ng-show="isOpen" class="r-menu-sub-section r-menu-fade-in-animation" ng-class="{'r-menu-popup':!isVertical()}">
        <ul ng-transclude></ul>
    </div>
</li>