<div class="view-home" ng-controller="homeCtrl">
    <div class="title">ng-Northwind 1.0.0</div>
    <div class="subtitle">A Demo of Web Development Technologies</div>

    <p></p>

    <div class="content">
        <!--<img src="http://www.gravatar.com/avatar/170abd79947cfabccea875b1d5192887.png"/>-->
        <div class="section">
            <div class="section-title">
                <i class="fa fa-chevron-right"></i>
                <span>Web technologies:</span>
                <span class="tech-name">{{tech_name}}</span>
            </div>

            <div class="tech-images">
                <div class="tech-image" ng-repeat="t in techs" ng-mousemove="showName('tech_name',t.name)"
                     ng-mouseleave="hideName()">
                    <a href="{{t.url}}"><img ng-src="{{t.img}}" alt=""/></a>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <i class="fa fa-chevron-right"></i>
                <span>Dev tools:</span>
                <span class="tech-name">{{dev_name}}</span>
            </div>

            <div class="tech-images">
                <div class="tech-image" ng-repeat="t in devs" ng-mousemove="showName('dev_name',t.name)"
                     ng-mouseleave="hideName()">
                    <a href="{{t.url}}"><img ng-src="{{t.img}}" alt=""/></a>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <i class="fa fa-chevron-right"></i>
                <span>What's Next:</span>
            </div>
            <div class="list">
                <ul>
                    <li ng-repeat="todo in todos">
                        <div style="display: table-row;">
                            <div style="display: table-cell;padding-right: 4px;">
                                <i class="fa fa-check-square-o"></i>
                            </div>
                            <div style="display: table-cell;"><span>{{todo}}</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <i class="fa fa-chevron-right"></i>
                <span>Contact:</span>
            </div>
            <div class="list">
                <div style="display: table-row;">
                    <div style="display: table-cell;">
                        <a href="https://www.linkedin.com/home"><img ng-src="{{linkedIn}}" alt="LinkedIn"/></a>
                    </div>
                    <div style="display: table-cell;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
