<form name="formFilter" class="form-horizontal">
    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <select class="form-control input-sm" ng-model="filter.col" ng-change="columnChanged(filter.col)"
                            ng-options="colDef as colDef.label for colDef in columns">
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control input-sm" ng-model="filter.constraint"
                            ng-options="con as con.label for con in constraints">
                    </select>
                </div>
                <div class="col-sm-3" ng-if="!isBool">
                    <input type="text" class="form-control input-sm" ng-model="filter.expression">
                </div>
                <div class="col-sm-3" ng-if="isBool">
                    <select class="form-control input-sm" ng-model="filter.expression"
                            ng-options="bool.value as bool.label for bool in boolValues">
                    </select>
                </div>
                <div class="col-sm-1" style="padding-top: 3px;">
                    <button class="btn btn-warning btn-xs" ng-click="removeFilter(filter.col)">
                        <i class="glyphicon glyphicon-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
