/*-- rainGrid --*/
.rain-grid-panel {
  margin-top: 10px;
  min-height: 200px;

  a{
    cursor: pointer;
  }

  .panel-heading {
    padding: 5px 15px;
    color: #fff;
    background-color: #4B7976;
    border-color: #4B7976;
    height: 35px;
  }

  .panel-body {

    .rain-grid-table {
      tr th {
        cursor: pointer;
        background-color: #E4E8E6;
        &:hover {
          background: linear-gradient(#BCBCBC, #ffffff);
        }
        &.asc {
          background: linear-gradient(#ffffff, #89d4ab);
        }
        &.dsc {
          background: linear-gradient(#89d4ab, #ffffff);
        }
      }

      tr.row-selected td {
        background-color: #B9F0E3;
      }
      td .cell-center{
        text-align: center;width: 100%;
      }
    }

    /* rainGrid pagination*/
    .rain-grid-pagination {
      ul.pagination {
        margin: 0;
        .page-arrow {
          margin-left: 4px;
          margin-right: 4px;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

.detailRainGrid {
  &.ng-hide-remove {
    -webkit-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
  }

  &.ng-hide-add {
    -webkit-animation: fadeOutUp 0.5s;
    animation: fadeOutUp 0.5s;
    display: block !important;
  }
}