<div>
    <div class="modal-header">
        <div style="display:inline-block;margin-left: 10px;font-size: 16px;font-weight: bold;">Filters</div>
        <div class="pull-right">
            <button class="btn btn-sm btn-success" ng-click="addFilter()">
                <i class="glyphicon glyphicon-plus "></i>Add filter
            </button>
        </div>
    </div>
    <div style="margin:10px;padding-right: 10px;">

        <div>
            <div ng-repeat="filter in filters">
                <div rain-grid-filter filter="filter" columns="columns" delete-filter="deleteFilter(col)"></div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="doFilter()">Filter</button>
        <button class="btn btn-warning" ng-click="doCancel()">Cancel</button>
    </div>
</div>