<div ng-if="isCheckbox" rain-checkbox="value" readonly="true" style="padding-right: 10px;"></div>

<span ng-if="isLink">
    <a ng-click="linkFunc()">{{value}}</a>
</span>

<div style="display: inline-block;" ng-if="isButton">
    <a class="btn btn-primary btn-xs" ng-click="linkFunc()">{{value}}</a>
</div>

<div class="clearfix" ng-if="isCurrency">
    <div class="pull-right">
        {{value|currency}}
    </div>
</div>

<div class="clearfix" ng-if="isDate">
    <div class="pull-right">
        {{value|date: 'yyyy-MM-dd'}}
    </div>
</div>

<div class="clearfix" ng-if="isNumber">
    <div class="pull-right">
        <span ng-if="decimal==1">{{value|number:1}}</span>
        <span ng-if="decimal==2">{{value|number:2}}</span>
        <span ng-if="decimal==3">{{value|number:3}}</span>
        <span ng-if="decimal==4">{{value|number:4}}</span>
        <span ng-if="!decimal || decimal > 4">{{value}}</span>
    </div>
</div>

<span ng-if="!isCheckbox && !isLink && !isButton && !isCurrency && !isNumber && !isDate && !isHidden">
    {{value}}
</span>

